{% extends 'base.html.twig' %}

{% block title %}Edit Outfit{% endblock %}

{% block body %}
    <h1>Edit Outfit</h1>

    {{ include('outfit/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_outfit_index') }}">back to list</a>

    {{ include('outfit/_delete_form.html.twig') }}
{% endblock %}
